.dashboardBtn {
  padding: 18px 60px;
  background-color: $main-btn-bg-color;
  border: none;
  border-radius: $r-lg;
  @include btn-text;
  @include transition;

  &:hover {
    background-color: $main-btn-hover-bg;
  }

  &:active {
    background-color: $main-btn-active-bg;
  }

  &:disabled {
    background-color: $disabled-btn-bg-color;
    color: $disabled-btn-text-color;
  }

  &:focus-visible {
    border: none;
    outline: none;
  }
}

.dashboardCardBtn {
  @include btn-text;
  @include transition;
  padding: 18px 30px;
  background-color: $main-btn-bg-color;
  border: none;
  border-radius: $r-sm;

  &:hover {
    background-color: $main-btn-hover-bg;
  }

  &:active {
    background-color: $main-btn-active-bg;
  }

  &:disabled {
    background-color: $disabled-btn-bg-color;
    color: $disabled-btn-text-color;
  }
}

@media screen and (max-width: 946px) {
  .dashboardCardBtn {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 790px) {
  .dashboardCardBtn {
    padding: 10px 18px;
  }
}

@media screen and (max-width: $mob) {
  .dashboardBtn {
    padding: 15px 50px;
  }
  .dashboardCardBtn {
    padding: 18px 30px;
  }
}
