@import "src/styles/index";

.create {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $black-transp;
  @include flex-center;

  &__container {
    background-color: $white;
    padding: 30px 70px;
    border: none;
    border-radius: $r-lg;
    position: relative;
  }

  &__exit--fixed {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: $active-close-btn-color;
    border-radius: 50%;
    border: none;
  }

  &__header {
    margin: 0 0 30px 0;
    @include modal-text;
  }

  &__type {
    &--form {
      display: flex;
      flex-direction: column;
    }

    &--label {
      @include text;
      color: $side-popup-text;
    }

    &--input {
      width: 560px;
      height: 60px;
      margin-top: 9px;
      @include border(1px, $secondary-btn-border-color);
      border-radius: $r-sm;
      @include text;
      padding: 20px;

      &:focus-visible {
        outline: none;
        @include border(1px, $main-btn-active-bg);
      }

      &:disabled {
        outline: none;
        @include border(1px, $secondary-btn-border-color);
        background-color: $card-bg-color;
      }
    }
  }

  #create__title {
    margin-bottom: 0;
  }

  &__type--input-error {
    width: 560px;
    height: 60px;
    padding: 18px;
    border-radius: $r-sm;
    @include text;

    @include transition;
    @include border(1px, $error-text-color);
    background-color: $error-bg-color;
    color: $error-text-color;

    &:focus-visible {
      outline: none;
    }
  }

  &__btn--section {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 30px;
  }
}

.none {
  display: none;
}

.disabled {
  background-color: $disabled-btn-bg-color;
}

.error-msg {
  color: $error-text-color;
  padding-top: 5px;
  font-size: 12px;
}

.margin {
  margin-top: 18px;
}

@media screen and (max-width: 900px) {
  .create {
    &__type {
      &--form {
        align-items: center;
      }

      &--label {
        align-self: flex-start;
      }
      &--input,
      &--input-error {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: $mob) {
  .margin {
    margin-top: 9px;
  }
  .create {
    &__container {
      padding: 15px 30px;
    }

    &__header {
      font-size: $fs-md;
      margin-bottom: 15px;
    }

    &__type {
      &--label {
        font-size: $fs-sm;
      }

      &--input,
      &--input-error {
        padding: 10px;
        height: 45px;
        font-size: $fs-sm;
        margin-bottom: 10px;

        &-error {
          margin: 10px 0 0;
        }
      }
    }
  }
}
