@import "src/styles/index";

.delete {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $black-transp;

  @include flex-center;

  &__container {
    background-color: $white;
    padding: 30px 70px;
    border: none;
    border-radius: $r-lg;
    position: relative;
    width: 700px;
  }

  &__exit--fixed {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: $active-close-btn-color;
    border-radius: 50%;
    border: none;
  }

  &__header {
    margin: 0 0 30px 0;
    @include modal-text;
  }

  &__type {
    &--form {
      display: flex;
      flex-direction: column;
    }
    &--confirm {
      text-align: center;
      color: $side-popup-text;
      @include text;
    }
  }

  &__btn--section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 12px;
  }
}

.none {
  display: none;
}

.disabled {
  background-color: $disabled-btn-bg-color;
}

@media screen and (max-width: 900px) {
  .delete {
    &__container {
      width: 90%;
    }
    &__type {
      &--form {
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: $mob) {
  .delete {
    &__container {
      padding: 15px 30px;
    }

    &__header {
      font-size: $fs-md;
      margin-bottom: 15px;
    }

    &__type--confirm {
      font-size: $fs-sm;
    }
  }
}
