@mixin border($size, $color) {
  border: $size solid $color;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin modal-title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
}

@mixin btn-text {
  text-transform: capitalize;
  font-weight: $fw-semibold;
  font-size: $fs-md;
  text-align: center;
}

@mixin box-shadow {
  box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.15);
}

@mixin text {
  font-weight: $fw-base;
  font-size: $fs-md;
  line-height: 24px;
}

@mixin transition {
  transition: all 0.2s ease;
}
