@mixin btn-border {
  border: 0.5px solid var($btn-border-color);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin modal-title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
}

@mixin btn-text {
  text-transform: capitalize;
  font-weight: $fw-semibold;
  font-size: $fs-md;
  text-align: center;
}
