//colors
$white: #ffffff;
$black: #000000;
$black-transp: #0000008a;

$side-popup-text: #616161;
$disabled-btn-bg-color: #d7d7d7;
$disabled-btn-text-color: #a4a4a4;
$active-close-btn-color: #fb2828;

$secondary-btn-border-color: #cfcfcf;
$secondary-btn-hover-bg: #dfdfdf;
$secondary-btn-active-bg: #bebebe;

$main-btn-bg-color: #f6b91a;
$main-btn-hover-bg: #f6ab1a; //focused input
$main-btn-active-bg: #f6911a;

$error-text-color: #ff4141;
$error-bg-color: #ffcccc;

$card-head-bg-color: #e7e7e7;
$card-bg-color: #efefef;
$card-btn-section-color: #d9d9d9;
$card-text-color: #555555;

//border-radius
$r-sm: 5px;
$r-md: 10px;
$r-lg: 15px;

//font-weight
$fw-base: 400;
$fw-semibold: 700;

//font-size
$fs-sm: 16px;
$fs-md: 20px;
$fs-lg: 36px;

//line-height
//font
$main-font: "Inter", sans-serif;

//max-width
$tablet: 768px;
$mob: 576px;
