@import "src/styles/index";
@import "src/styles/components/DashboardBtn";

.dashboard {
  display: flex;
  flex-direction: column;

  &__header {
    padding: 0 30px;
    height: 120px;
    @include flex-between;
    background-color: $card-head-bg-color;
  }

  &__email {
    font-weight: $fw-semibold;
    font-size: $fs-md;
    line-height: 24px;
  }

  &__wrap {
    padding: 30px;
  }

  &__cards {
    @include flex-between;
    flex-wrap: wrap;
    padding-top: 35px;

    &-card {
      width: 30%;
      background-color: $card-bg-color;
      padding-top: 20px;
      border-radius: $r-sm;

      &-textarea {
        padding: 0 25px;

        &--title {
          font-size: $fs-lg;
          font-weight: $fw-semibold;
          line-height: 44px;
          margin: 0;
        }

        &--text {
          font-weight: $fw-semibold;
          font-size: $fs-sm;
          color: $card-text-color;
          text-align: justify;

          overflow-y: scroll;
          display: -webkit-box;
          -webkit-line-clamp: 7; /* number of lines to show */
          line-clamp: 7;
          -webkit-box-orient: vertical;
        }
      }

      &-btns {
        // @include flex-between;
        padding: 15px;
        display: flex;
        flex-direction: row;
        justify-content: end;
        background-color: $card-btn-section-color;

        &--edit {
          margin-right: 15px;
        }
      }
    }
  }
}

//if more then 7 lines

.line-clamp {
  overflow-y: scroll;
  display: -webkit-box;
  -webkit-line-clamp: 7; /* number of lines to show */
  line-clamp: 7;
  -webkit-box-orient: vertical;
}
