@import "src/styles/index";
@import "src/styles/components/DashboardBtn";

.dashboard {
  display: flex;
  flex-direction: column;

  &__header {
    padding: 0 30px;
    height: 120px;
    @include flex-between;
    background-color: $card-head-bg-color;
    overflow: hidden;
  }

  &__email {
    font-weight: $fw-semibold;
    font-size: $fs-md;
    line-height: 24px;
  }

  &__wrap {
    padding: 30px;
    // overflow: auto;
    // scrollbar-color: $card-btn-section-color $white;
    // scroll-behavior: smooth;
    // scrollbar-width: thin;

    // &::-webkit-scrollbar {
    //   width: 10px;
    //   width: 10px;
    // }
    // &::-webkit-scrollbar-track {
    //   border-radius: 5px;
    //   background-color: $white;
    // }

    // &::-webkit-scrollbar-track:hover {
    //   background-color: $white;
    // }

    // &::-webkit-scrollbar-track:active {
    //   background-color: $white;
    // }

    // &::-webkit-scrollbar-thumb {
    //   border-radius: 5px;
    //   background-color: $card-btn-section-color;
    // }

    // &::-webkit-scrollbar-thumb:hover {
    //   background-color: $card-btn-section-color;
    // }

    // &::-webkit-scrollbar-thumb:active {
    //   background-color: $card-btn-section-color;
    // }
  }

  &__cards {
    @include flex-between;
    flex-wrap: wrap;
    padding-top: 35px;

    // overflow-y: auto;
    // &::-webkit-scrollbar {
    //   width: 10px;
    // }

    // &::-webkit-scrollbar-thumb {
    //   background-color: $card-btn-section-color;
    //   border-radius: $r-md;
    // }

    &-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 304px;
      width: 30%;
      background-color: $card-bg-color;
      padding-top: 20px;
      border-radius: $r-sm;

      &-textarea {
        padding-left: 25px;

        &--title {
          font-size: $fs-lg;
          font-weight: $fw-semibold;
          line-height: 44px;
          margin: 0;
        }

        &--text {
          font-weight: $fw-semibold;
          font-size: $fs-sm;
          color: $card-text-color;
          text-align: justify;
          padding-right: 25px;
          margin-bottom: 0;

          overflow-y: auto;
          display: -webkit-box;
          -webkit-line-clamp: 7; /* number of lines to show */
          -webkit-box-orient: vertical;
        }

        &--text::-webkit-scrollbar {
          width: 10px;
        }

        &--text::-webkit-scrollbar-thumb {
          background-color: $card-btn-section-color;
          border-radius: $r-md;
        }
      }

      &-btns {
        // @include flex-between;
        padding: 15px;
        display: flex;
        flex-direction: row;
        justify-content: end;
        background-color: $card-btn-section-color;
        border-radius: 0 0 $r-sm $r-sm;

        &--edit {
          margin-right: 15px;
        }
      }
    }
  }
}

//if more then 7 lines

.line-clamp {
  overflow-y: scroll;
  display: -webkit-box;
  -webkit-line-clamp: 7; /* number of lines to show */
  line-clamp: 7;
  -webkit-box-orient: vertical;
}
