@import "src/styles/index";
@import "src/styles/components/DashboardBtn";

.dashboard {
  display: flex;
  flex-direction: column;

  &__header {
    padding: 0 30px;
    height: 120px;
    @include flex-between;
    background-color: $card-head-bg-color;
    overflow: hidden;
  }

  &__email {
    font-weight: $fw-semibold;
    font-size: $fs-md;
    line-height: 24px;
  }

  &__wrap {
    padding: 30px;
  }

  &__cards {
    // @include flex-between;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding-top: 35px;

    //trying to figure out scroll

    // overflow-y: auto;
    // overflow-x: hidden;
    // display: -webkit-box;

    // &::-webkit-scrollbar {
    //   width: 10px;
    // }

    // &::-webkit-scrollbar-thumb {
    //   background-color: $card-btn-section-color;
    //   border-radius: $r-md;
    // }

    &-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 304px;
      width: 30%;
      background-color: $card-bg-color;
      padding-top: 20px;

      margin: 0 1% 20px;
      border-radius: $r-sm;

      &-textarea {
        padding-left: 25px;

        &--title {
          font-size: $fs-lg;
          font-weight: $fw-semibold;
          line-height: 44px;
          margin: 0;
          padding-right: 20px;
        }

        &--text {
          font-weight: $fw-semibold;
          font-size: $fs-sm;
          color: $card-text-color;
          text-align: justify;
          padding-right: 25px;
          margin-bottom: 0;
          overflow-wrap: break-word;
          overflow-y: auto;
          display: -webkit-box;
          -webkit-line-clamp: 7; /* number of lines to show */
          -webkit-box-orient: vertical;
        }

        &--text::-webkit-scrollbar {
          width: 10px;
        }

        &--text::-webkit-scrollbar-thumb {
          background-color: $card-btn-section-color;
          border-radius: $r-md;
        }
      }

      &-btns {
        // @include flex-between;
        padding: 15px;
        display: flex;
        flex-direction: row;
        justify-content: end;
        background-color: $card-btn-section-color;
        border-radius: 0 0 $r-sm $r-sm;

        &--delete {
          &:focus-visible {
            border: none;
            outline: none;
          }
        }

        &--edit {
          margin-right: 15px;

          &:focus-visible {
            border: none;
            outline: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .dashboard {
    &__cards-card {
      &-textarea--title {
        font-size: $fs-md;
        line-height: 30px;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .dashboard {
    &__cards-card {
      width: 45%;
      margin-bottom: 20px;

      &-textarea--title {
        font-size: $fs-md;
      }
    }
  }
}

@media screen and (max-width: $mob) {
  .dashboard {
    &__header {
      flex-direction: column;
      height: 140px;
      justify-content: center;
    }

    &__email {
      margin: 10px 0;
      font-size: $fs-sm;
    }

    &__create-card-btn--wrap {
      @include flex-center;
    }

    &__cards-card {
      width: 100%;
      &-textarea--title {
        font-size: $fs-md;
      }
    }
  }
}

//if more then 7 lines

.line-clamp {
  overflow-y: scroll;
  display: -webkit-box;
  -webkit-line-clamp: 7; /* number of lines to show */
  line-clamp: 7;
  -webkit-box-orient: vertical;
}
