@import "src/styles/index";
@import "src/styles/components/DashboardBtn";

.dashboard {
  display: flex;
  flex-direction: column;

  &__header {
    padding: 0 30px;
    height: 120px;
    @include flex-between;
    background-color: $card-bg-color;
  }

  &__email {
    font-weight: $fw-semibold;
    font-size: $fs-md;
    line-height: 24px;
  }

  &__wrap {
    padding: 30px;
  }

  &__cards {
    @include flex-between;
    flex-wrap: wrap;

    &-card {
      width: 30%;
    }
  }
}
